/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Black.ttf');
}

body {
  background-color: #151D28;
  font-family: 'Gilroy', 'sans-serif';
  color: white;
}

/* .section {
  /* padding-top: 94px;
  padding-bottom: 94px; */

  /* @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}  */

.header {
  padding: 40px 0;
  margin-bottom: 300px;
  /* @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding: 0;
  } */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.button {
  background: linear-gradient(95.61deg, #415167 0%, #EDF0F5 100%);
  border-radius: 8px;
  width: 260px;
  height: 62px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  color: #191411;
}

.button:hover {
  background: linear-gradient(95.61deg, #415167 0%, #EDF0F5 100%);
}

.common-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main {
  /* overflow: hidden;
  background-image: url('../images/black-faucet-with-steel-sink-stylish-modern-kitchen.jpg'); 
  background-position: top center;  */
  width: 100%;
  height: 100%;
  background-image: url('../images/black-faucet-with-steel-sink-stylish-modern-kitchen.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  /* @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding: 118px 0;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
} */
}


.header .container {
  display: flex;
  align-items: center;
}

.logo img {
  vertical-align: bottom;
  width: 100px;
}

.menu {
  margin-left: 191px;
  
}

.menu-list {
  list-style: none;
  display: flex;
   /* @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  } */
  & .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-item {
  margin-right: 88px;
}

.menu-item a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.menu-item a:hover {
  border-bottom: 2px solid white;
}

.connect__contact {
  /* display: flex; */
  display: none;
  gap: 50px;
}

.connect {
  margin-left: auto;
}

.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.current {
  color: var(--accent);
  padding-bottom: 32px;
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--accent);
    border-radius: 2px;
  }
}
/*
.header-contact:hover,
.header-contact:focus {
  fill: var(--accent);
}*/
.connect__contact {
  /* margin-left: auto;
  padding-left: 0;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  /* @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  } */
}
.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
    /* @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.16;
    } */
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu-open_button {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  /* @media screen and (min-width: 768px) {
    display: none;
  } */
}

.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding-left: 40px;
  padding-bottom: 48px;
  /* @media screen and (min-width: 768px) {
    display: none;
  } */
  > .containerr__mob-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.menu-close_button {
  display: flex;
  margin-left: auto;
  background-color: transparent;
  border: none;
  margin-top: 10px;
  &:focus {
    fill: var(--accent);
  }
}
.modal-close-icon {
}

.mob-menu__list {
  /* @media screen and (min-width: 320px) and (max-width: 480px) {
    margin-bottom: 260px;
  } */
  margin-bottom: 300px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-bottom: 32px;
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
}

.mob-connect {
}

.mob-connect__list {
  margin-bottom: 64px;
}

.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-connect__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent);
  /* @media screen and (min-width: 320px) and (max-width: 479px) {
    font-size: 28px;
  } */
}

.mob-connect__email {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.mob-connect__icon {
}

.mob-soc-item:not(:last-child) {
  &::after {
    content: '';
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    height: 22px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
  }
}
.mob-soc__list {
  display: flex;
  gap: 20px;
}

.mob-soc__icon {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent);
  /* @media screen and (min-width: 320px) and (max-width: 479px) {
    font-size: 12px;
  } */
}
.mob-soc__item:not(:last-child) {
  &::after {
    content: '';
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    height: 22px;
    margin-left: 10px;
  }
}


.currency {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  padding: 6px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  line-height: 32px;
  margin-left: auto;
  user-select: none;
}

.main-content {
  padding-top: 103px;
  padding-bottom: 199px;
}

.main-content .container {
  position: relative;
}

.main-info {
  max-width: 608px;
}

.main-small-info {
  background: #C7A17A;
  border-radius: 100px;
  padding: 12px 16px;
  display: inline-block;
  font-size: 18px;
}

.main-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 120px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.main-text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 56px;
}

.main-action {
}

.main-image {
  position: absolute;
  width: 650px;
  height: 666px;
  top: 141px;
  border-radius:16px ;
  left: calc(100% - 1080px); 
  z-index: -1;
}

.why {
  /* background-image: url('../images/whybg.png'); */
  background-position: top center;
  background-size: initial;
  padding-bottom: 180px;
}

.why-items {
  margin-top: 60px;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, 312px);
  justify-content: center;
}

.why-item {
  text-align: center;
}

.why-item-title {
  font-size: 24px;
  line-height: 29px;
  padding: 24px 0;
}

.why-item-text {
  font-size: 16 px;
  line-height: 140%;
}

.products {
  background-position: top center;
  background-size: 1400px;
  padding-bottom: 180px;
}

.products-items {
  display: grid;
  grid-template-columns: repeat(3, 384px);
  gap: 24px;
  margin-top: 60px;
}

.products-item {
  padding: 30px;
  background: #415167;
  border: 1px solid #353535;
  border-radius: 16px;
}

.products-item-image {
  height: 250px;
}

.products-item-image img {
  max-width: 100%; 
  cursor: pointer;
 
}

.products-item-title {
  font-size: 24px;
  line-height: 29px;
  /* padding: 24px 0; */
}

.products-item-extra {
  display: flex;
  justify-content: space-between;
}

.products-item-price {
  font-size: 32px;
  line-height: 60px;
  /* margin-bottom: 8px; */
  margin-left: 25px
}

.products-item-weight {
  font-size: 16px;
  line-height: 18px;
  color: #757575;
}

.button.product-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 62px;
}

.button.product-button span:first-child {
  margin-right: 10px;
}

/* .order {
  background-image: url('../images/order_bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 180px;
  overflow: hidden;
} */

.order .container {
  position: relative;
}

.order-image {
  position: absolute;
  top: 0;
  right: calc(100% - 764px);
  z-index: -1;
}

.order-form {
  background: #415167;
  border: 1px solid #353535;
  border-radius: 16px;
  margin-top: 60px;
  max-width: 426px;
  box-sizing: border-box;
  padding: 60px 40px;
  margin-left: 674px;
}

.order-form-text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.order-form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.order-form-input {
  background: linear-gradient(95.61deg,#415167 0%, #EDF0F5 100%);
  width: 344px;
  height: 62px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-form-input input {
  padding: 20px 10px;
  background: #151D28;
  border-radius: 8px;
  width: 342px;
  height: 60px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
  color: white;
}

.order-form-inputs.button {
  width: 344px;
  height: 62px;
}

/* Footer */
.footer {
  /* background: #2f303a; */
  padding: 60px 100px 0px 100px;
  
}
/* .footer .container {
  display: flex;
  
} */

.contact-web {
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-tablet {
  
  @media screen and (min-width: 320px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 70px;
    align-items: baseline;
    margin-bottom: 0;
  }
}
.contacts {
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.contacts__link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
  display: block;
  margin-bottom: 20px;
}

.accent {
  color: var(--first-color);
}

.contacts__contacts-type {
  margin-bottom: 9px;
}

.contacts__list {
  display: block;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    text-align: center;
  }
}

.contacts__map {
  font-style: normal;
  line-height: 1.71;
  color: var(--first-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.contacts__contact {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

/*.network {
}*/

.network__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}

.network__list {
  display: flex;
  gap: 10px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.network__icon-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff1a;
  color: var(--first-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}





/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	
}

/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px -15px 0px -15px;
	z-index: 10;
	font-size: 0;
	width: 33px;
	height: 33px;
  cursor: pointer;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../images/sl-arrow_l.svg') 0 0 / 50% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../images/sl-arrow_r.svg') 0 0 / 50% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
  cursor: pointer;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
	padding: 0px 15px;
  
}
.slider__item img{
	max-width: 100%;
  
}
.slider__item.slick-center{
	
}

/* Прокрутка до верху сторінки */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#C7A17A;
  cursor: pointer;
  padding: 25px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}


/* Таблиця властивостей */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #C7A17A;
}

th, td {
    text-align: center;
    padding: 16px;
    background-color: #555
}

tr:nth-child(even) {
    background-color: #555
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.8s ease 0s;
  }

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button-about {
  background: #C7A17A;
  border-radius: 100px;
  padding: 7px 16px;
  display: inline-block;
  margin-left: 209px;
  margin-bottom: 25px;
  cursor: pointer;
  
}

/* Стилі для модального вікна зображення*/
.modal-image-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
}

/* Стилі для збільшеного зображення в модальному вікні */
.modal-image {
  max-width: 90%;
  max-height: 90%;
}

.contacts{

}


